# =========================
# Build Ergebnisse
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Local History
# =========================
.history/